.footer{
  background: #FBD062;
  padding: 80px 0px;
}
.footer-top{
  display: flex;
  gap:50px;
}
.footer-colum{
  flex:1;
}
.footer-top h2{
  margin-bottom: 20px;
}
.footer-colum form{
  display: flex;
  flex-direction: column;
  gap:15px
}
.footer-colum input, .footer-colum textarea{
  border: none;
  border-radius: 5px;
  padding:12px;
}

.footer-bottom{
  text-align: center;
  margin-top: 70px;
}

@media screen and (max-width:700px) {
  .footer-top{
    flex-direction: column;
  }
}