nav{
  display: flex;
  justify-content: space-between;
  padding:10px 0px;
  align-items: center;
  gap:20px;
}
.logo{
  width: 150px;
}

ul{
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-link{
  color:#474747;
}
.active{
  font-weight: 800;
  color:#111430;
}